body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(174, 244, 253);
    
}

.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(224, 39, 70, 0.856);
    
    
}

.jumbo-image {
    background-image: url("images/cropped-wallpaper-for-site-2.jpg");
    background-size: cover;
}

.btn {
    background-color: yellow;
    color: black;
    border: 2px solid rgb(24, 9, 236);
}

.display-4 {
    text-align: center;
    background-color: rgb(95, 232, 250);
    border: 2px solid yellow;
    width: 45%;
    border-radius: 5px;
}

.col-md-12 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.game-Q-A {
    
    margin: 40px;
    padding: 10 px;
}

